In [ ]:
import pandas as pd
import numpy as np
!pip install fuzzywuzzy python-Levenshtein
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("archit9406/customer-transaction-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/archit9406/customer-transaction-dataset?dataset_version_number=1...

100%|██████████| 2.54M/2.54M [00:00<00:00, 122MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/archit9406/customer-transaction-dataset/versions/1

In [5]:
import pandas as pd
df = pd.read_excel(f'{path}/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='Transactions')

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20001 entries, 0 to 20000
Data columns (total 13 columns):
 #   Column                                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                                         --------------  -----
 0   Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   20001 non-null  object
 1   Unnamed: 1                                                                                                                                                                     20001 non-null  object
 2   Unnamed: 2                                                                                                                                                                     20001 non-null  object
 3   Unnamed: 3                                                                                                                                                                     20001 non-null  object
 4   Unnamed: 4                                                                                                                                                                     19641 non-null  object
 5   Unnamed: 5                                                                                                                                                                     20001 non-null  object
 6   Unnamed: 6                                                                                                                                                                     19804 non-null  object
 7   Unnamed: 7                                                                                                                                                                     19804 non-null  object
 8   Unnamed: 8                                                                                                                                                                     19804 non-null  object
 9   Unnamed: 9                                                                                                                                                                     19804 non-null  object
 10  Unnamed: 10                                                                                                                                                                    20001 non-null  object
 11  Unnamed: 11                                                                                                                                                                    19804 non-null  object
 12  Unnamed: 12                                                                                                                                                                    19804 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB
None

In [7]:
print(df.head())

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   \
0                                     transaction_id
1                                                  1
2                                                  2
3                                                  3
4                                                  4

   Unnamed: 1   Unnamed: 2           Unnamed: 3    Unnamed: 4    Unnamed: 5  \
0  product_id  customer_id     transaction_date  online_order  order_status
1           2         2950  2017-02-25 00:00:00         False      Approved
2           3         3120  2017-05-21 00:00:00          True      Approved
3          37          402  2017-10-16 00:00:00         False      Approved
4          88         3135  2017-08-31 00:00:00         False      Approved

       Unnamed: 6    Unnamed: 7     Unnamed: 8    Unnamed: 9 Unnamed: 10  \
0           brand  product_line  product_class  product_size  list_price
1           Solex      Standard         medium        medium       71.49
2   Trek Bicycles      Standard         medium         large     2091.47
3      OHM Cycles      Standard            low        medium     1793.43
4  Norco Bicycles      Standard         medium        medium     1198.46

     Unnamed: 11              Unnamed: 12
0  standard_cost  product_first_sold_date
1          53.62                    41245
2         388.92                    41701
3         248.82                    36361
4          381.1                    36145

In [8]:
#Counting Duplicates
exact_duplicates = df.duplicated().sum()
print(f"Duplicates number: {exact_duplicates}")

#Removing Dupliclates
df_no_exact_duplicates = df.drop_duplicates()
print(f"Original length: {df.shape}, Após remoção de duplicatas exatas: {df_no_exact_duplicates.shape}")

Número de duplicatas exatas: 0
Tamanho original: (20001, 13), Após remoção de duplicatas exatas: (20001, 13)